body {
    font-family: Helvetica;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("./images/pattern.jpeg");
    text-align: center;
}

.green {
    background-color: mediumspringgreen;
}

.coral {
    background-color: lightcoral;
}

.blue {
    background-color: skyblue;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

span {
    font-weight: bold;
    color: blue
}